app = "super-invention"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[env]

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [[services.ports]]
    port = 80

  [[services.ports]]
    port = 443
