app = "super-invention"

kill_signal = "SIGINT"
kill_timeout = 5

[build]

[env]
  PORT = "8080"

[[services]]
  protocol = "tcp"
  internal_port = 8080

  [[services.ports]]
    port = 80

  [[services.ports]]
    port = 443

